<!DOCTYPE html>
<html lang="en" class="light">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="description" content="the Ideal place to shop" />
  <title>Adrolem - Online shopping at it's best</title>
</head>
<style>
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    transition: all 0.2s ease-in-out;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    transition: all 0.2s ease-in-out;
    border-radius: 36px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 36px;
    transition: all 0.2s ease-in-out;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>

<body class="bg-bglight dark:bg-bgdark w-full min-h-[100vh]">
  <div id="main">
    <div id="app"></div>
  </div>
  
  <script src="index.main.js"></script>
</body>

</html>